{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "Firefox ESR", "not IE <=10"]
      },
      "modules": false,
      "useBuiltIns": true
    }],
    "react"
  ]
}
