{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["defaults"]
        },
        "modules": false,
        "useBuiltIns": "usage"
      }
    ],
    "@babel/preset-react"
  ]
}
